variable "access_key" {}
variable "secret_key" {}
terraform {
    backend "s3" {
      bucket = "tfstate.motes.awesome"
      key = "{{bucketName}}"
      region = "us-east-2"
      shared_credentials_file = "/tmp/bucketuser"
    }
}
